[submodule "livermore-broker"]
	path = livermore-broker
	url = git@github.com:hanjingo/livermore-broker.git
	branch = main
[submodule "livermore-trader"]
	path = livermore-trader
	url = git@github.com:hanjingo/livermore-trader.git
	branch = main
[submodule "livermore-whitepaper"]
	path = livermore-whitepaper
	url = git@github.com:hanjingo/livermore-whitepaper.git
	branch = main
