[submodule "livermore-broker"]
	path = livermore-broker
	url = git@github.com:hanjingo/livermore-broker.git
	branch = main
[submodule "livermore-trader"]
	path = livermore-trader
	url = git@github.com:hanjingo/livermore-trader.git
	branch = main
[submodule "livermore-whitepaper"]
	path = livermore-whitepaper
	url = git@github.com:hanjingo/livermore-whitepaper.git
	branch = main
[submodule "livermore-crypto"]
	path = livermore-crypto
	url = git@github.com:hanjingo/livermore-crypto.git
	branch = main
[submodule "livermore-ctp"]
	path = livermore-ctp
	url = git@github.com:hanjingo/livermore-ctp.git
	branch = main
[submodule "livermore-xtp"]
	path = livermore-xtp
	url = git@github.com:hanjingo/livermore-xtp.git
	branch = main
[submodule "livermore-tx"]
	path = livermore-tx
	url = git@github.com:hanjingo/livermore-tx.git
	branch = main
[submodule "livermore-broadcast"]
	path = livermore-broadcast
	url = git@github.com:hanjingo/livermore-broadcast.git
	branch = main
[submodule "livermore-data-center"]
	path = livermore-data-center
	url = git@github.com:hanjingo/livermore-data-center.git
	branch = main
